.search {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.search--center {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.search--top {
    justify-content: center;
    align-items: flex-start;
}
